.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  height: 529px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 48px;
  margin-bottom: 28px;
}

.level {
  display: flex;
  width: 97px;
  height: 98px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;

  border-radius: 12px;
  background: #fff;
}

.level:hover {
  background-color: #e0f7ff;
}

.level.active {
  background-color: #0080c1; 
  color: #fff;
}

/* .level.active .levelLink {
  color: #fff; 
} */

/* .levelLink {
  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;
} */
/* 
.levelLink:visited {
  color: #0080c1;
} */

.checkbox {
  appearance: none;
  width: 30px;
  height: 29px;
  border: 2px solid #ffffff; 
  background-color: #ffffff; 
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
  margin-right: 12px;
}
.checkbox:checked {
  background-color: #ffffff; 
}

.checkbox:checked::before {
  content: "✓"; 
  display: block;
  text-align: center;
  color: #7AC100; 
  font-size: 16px;
  line-height: 18px;
}

.label {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  cursor: pointer;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
}

.leaderboard {
  width: 200px;
  height: 32px;
  padding: 30px;
}

.leaderboardLink {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: #004980;
}

