.container {
    max-width: 944px;
    margin: 0 auto;
    padding-top: 22px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.title {

    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.board {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.titleLine,
.line {
    width: 944px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 60px;
    color: #999999;
}

.line {
    color: #000000;
}

.position,
.user,
.achievement,
.time {
    height: 32px;
    align-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.position {
    width: 106px;
    
}

.user {
    width: 272px;
    white-space: nowrap; /* Обрезаем текст, если он длинный */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем "..." для длинных имён */
}

.achievement {
    width:194px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.achievementImage {
    width: 32px;
    height: 32px;
}

.time {
    width: 102px;
}

.buttonLink {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}